.container {
  margin-top: 2em;

  #oplayer {
    margin: 0 auto;
    aspect-ratio: 16/9;
    max-width: 970px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--ifm-color-secondary);

    &[aria-disabled='true'] > div {
      visibility: hidden;
    }
  }

  .form {
    display: flex;
    max-width: 970px;
    margin: 0 auto;

    input {
      width: 100%;
      height: 46px;
      border: 2px var(--ifm-color-primary) solid;
      border-radius: 4px 0 0 4px;
      padding: 0 20px;
      line-height: normal;
    }

    button {
      outline: none;
      background: var(--ifm-color-primary);
      border: 0;
      width: 100px;
      border-radius: 0 4px 4px 0;
      height: 46px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      cursor: pointer;
    }
  }

  .tips {
    margin: 0.5em auto 2em;
    max-width: 970px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #b0b3b8;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
