.Container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding-bottom: 6rem;
}

.Title {
  margin-bottom: 30px;
  font-size: var(--ifm-font-size-36);
  color: var(--ifm-color-on-background);
  font-weight: bold;
}

.Quantity {
  position: relative;
  padding: 0 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0.8;
}
.Quantity:hover {
  opacity: 1;
}
.QuantityItem {
  padding: 5px 20px;
  font-weight: normal;
}
.QuantityItem:hover {
  background: rgba(255, 255, 255, 0.3);
}
.QuantityItemActive {
  color: var(--theme-color);
}

.VideoContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 56.25%;
  background-color: var(--ifm-color-background-2);
}

.VideoContainer > div {
  position: absolute;
  top: 0;
  left: 0;
}

.Mini {
  position: fixed;
  right: 50px;
  bottom: 5vh;
  width: 400px;
  height: 225px;
  z-index: 100;
}

.MiniHeader {
  height: 20px;
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
