.container {
  margin-top: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  :global {
    #oplayer {
      margin: 0 auto;
      aspect-ratio: 16/9;
      border-radius: 4px;
      overflow: hidden;
      background-color: #eee;

      &[aria-disabled='true'] > div {
        visibility: hidden;
      }
    }

    .form {
      display: flex;
      margin: 0 auto;

      input {
        width: 100%;
        height: 46px;
        border: 2px hsl(var(--nextra-primary-hue) 100% 94% / var(--tw-bg-opacity)) solid;
        border-radius: 4px 0 0 4px;
        padding: 0 20px;
        line-height: normal;
      }

      button {
        outline: none;
        background: hsl(var(--nextra-primary-hue) 100% 32% / var(--tw-text-opacity));
        border: 0;
        width: 100px;
        border-radius: 0 4px 4px 0;
        height: 46px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        cursor: pointer;
      }
    }

    .tips {
      margin: 0.5em auto 2em;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #b0b3b8;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
