body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100svw;
  height: 100vh;
  height: 100svh;
}

@media (min-width: 640px) {
  * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
  }
}

a,
button,
img {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
}

button {
  border-radius: 0.35rem !important;
}

.spinner {
  animation: spinner 0.9s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#oplayer {
  width: 100% !important;
  height: 100% !important;
}

video {
  height: 100% !important;
  max-width: 100%;
  object-position: center;
  object-fit: contain !important;
}

/* overriding */
.css-1ftojuw {
  --primary-color: white !important;
}

.css-1xk8bpn {
  width: calc(100% + 5px);
  margin-left: -2px;
}

.css-1gyrt30[aria-checked='true'] .css-l3w6ir {
  background-color: white !important;
}

#oplayer .css-l3w6ir::before {
  background-color: black;
}

#oplayer [aria-label='Setting'],
#oplayer .playlist,
#oplayer .css-fy6n4p {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  /* backdrop-filter: blur(5px); */
}

#oplayer [role='menu'] {
  padding: 0.5rem;
  min-width: 18rem;
}

@media (min-width: 640px) {
  [role='menu'] {
    min-width: 20rem;
  }
}

@media (min-width: 1280px) {
  [role='menu'] {
    min-width: 22rem;
  }
}

[role='menuitem'] {
  border-radius: 0.7rem;
  overflow: hidden;
  height: 2.8rem;
}

[role='menuitem'] div {
  height: 100%;
}

#oplayer [role='menuitemradio'] {
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: start !important;
  gap: 1rem !important;
  height: 2.8rem;
  font-size: 0.85rem !important;
}

[role='menuitemradio'] svg {
  order: -9999 !important;
  -ms-flex-order: -9999 !important;
  display: block !important;
  opacity: 0;
}

[role='menuitemradio'][aria-checked='true'] svg {
  opacity: 1 !important;
}

[aria-label='Play'][type='button'] {
  background: transparent !important;
}

[aria-label='Play'][type='button']::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Crect width='24' height='24' fill='none'/%3E%3Cpath fill='white' fill-rule='evenodd' d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10' clip-rule='evenodd' opacity='0.4'/%3E%3Cpath fill='white' d='m15.414 13.059l-4.72 2.787C9.934 16.294 9 15.71 9 14.786V9.214c0-.924.934-1.507 1.694-1.059l4.72 2.787c.781.462.781 1.656 0 2.118'/%3E%3C/svg%3E");
  width: 4rem;
  height: 4rem;
  display: block;
  /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
}

@media (min-width: 1280px) {
  [aria-label='Play'][type='button']::before {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 640px) {
  [aria-label='Screenshot'] {
    display: none !important;
  }
}

#oplayer .playlist-list-item {
  margin: 0 0.5rem 0.5rem;
  border-radius: 0.7rem;
  border: none;
}

#oplayer .playlist-head {
  border-bottom: none;
  background: transparent;
}

.playlist-list-item-thumb,
.playlist-list-item-thumb img {
  border-radius: 0.5rem;
}

.playlist-back {
  border-radius: 0.35rem !important;
}

.css-1y9tj12 {
  padding-top: 0.5em;
}
